// BlackBerry Q10 >>>
@media screen and(device-height:347px)and(device-width:347px) {
	div#keyboard { display: none !important; }
	div#page { height: 347px; }
	div#sequence-focus {
		width: 80% !important;
		height: 80% !important;
	}
	div.card {
		line-height: 5em !important;
	}
}
// <<< BlackBerry Q10
