div#sequence {
	padding: 20px 0;
	-webkit-font-smoothing: antialiased;

	div#sequence-focus {
		border-radius: 5px;
	}

	div.card {
		border-radius: 5px;
		color: black;
		background: rgb(240,240,240);

		transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

		&.active {
			transition-property: opacity, -webkit-transform, -webkit-filter, box-shadow;
			transition-duration: 200ms, 300ms, 400ms, 600ms;
			transition-delay: 0, 0, 0, 100ms;
			z-index: 2 !important;
			box-shadow: 0 0 20px 7px #0000DF;
		}

		&.invisible {
		}

		&.prev, &.next {
			z-index: 1 !important;
			opacity: .4;
			//-webkit-filter: blur(5px);
			transition-property: opacity, -webkit-transform, -webkit-filter, box-shadow;
			transition-duration: 400ms, 400ms, 700ms, 1000ms;
			transition-delay: 0, 100ms, 0, 0;
		}

		span {
			color: #4B4B4B;
			&.current { color: #0085A7; }
			&.done { color: #7AB422; }
		}
	}
}

div#statusbar {
	border: 1px solid blue;
	border-radius: 5px;
	background: linear-gradient(rgb(27, 27, 228), rgb(0, 0, 99));
	span {
		&.time { color: rgb(128, 128, 255); }
		&.score { color: rgb(235, 255, 0); }
		&.right { color: rgb(43, 241, 43); }
		&.wrong { color: rgb(255, 77, 77); }
	}
}
